* {
    margin: 0;
    padding: 0;
    background: #2c2c30;
    color: white; 
}

a{
    text-decoration: none;
    background: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}

@media (min-width: 600px) {
    
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px 0px;
    text-align: justify;
    align-items: center;
    width: 100%;
    height: 100%;
}

.div1 h2 {
    text-align: center;
    width: 110px;
    padding: 10px;
}

.div1 p {
    width: 110px;
    padding: 10px;
    color: rgb(119, 119, 119);
}

.div1 ul {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.div1 li {
    justify-content: center;
    padding: 3px;
    margin: 2px;
    font-size: 15px;
    width: 120px;
}

.div1 li:hover {
    border-radius: 10px;
    background-image: radial-gradient(circle at 112.17% 44.56%, #67ffff 0, #6ddbff 25%, #6cb4d8 50%, #658fa8 75%, #596e7d 100%);
}

.div1 i {
    margin: 5px;
    background: transparent;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    padding:  20px 0px;
    width: 100%;
    height: 100%;
}

.div2 label{
    padding: 5px 0px;
    font-size: 10px;
}

.div2 h2{
    cursor: pointer;
    padding: 9px 0px;
    font-size: 30px;
}
.div21{
    display: flex;
    justify-content: space-between;
}

.div21 #input{
    width: 900px;
    height: 30px;
    text-align: center;
    margin: 0px 5px;
    color: #ffff;
    background: #64696d74;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.form{
	margin: 5px;
}

.select{
	cursor: pointer;
    padding: 0 210px;
	width: 636px;
	height: 30px;
	border: none;
    background: transparent;
	font-size: 20px;
	align-content: center;	
}

.form1 {
	font-size: 20px;
}

.div21 #label1{
    width: 110px;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
    color: #ffff;
    background: #64696d74;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.div21 #label1:hover{
    color: #ffff;
    background: #8c8f9174;
}

.div21 i{
    padding: 1px;
    padding: 5px;
    position:absolute;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
    color: #ffff;
    background: #64696d74;
    border: none;
    border-radius: 10px;
    font-size: 10px;
}



.peopleid{
    display: inline-table;
    text-align: center;
    padding: 7px;
    margin: 9px;
    border-radius: 21px;
    background: #5c5b5b62;
    border-bottom: 1px solid #596e7d;
    width: 190px;
    height: 190px;
    cursor: pointer;
}

.peopleid:hover{
    background: #83828262;
}

.peopleid img{
    width: 100px;
    border-radius: 50%;
    background: #898a8a60;
    justify-content: center;
}

.peopleid p{
    padding: 2px;
    margin: 2px;
    color: rgb(163, 163, 163);
    background: transparent;
}

.peopleid i,input,output{
    background: transparent;
    color: #0484fcee;
    font-size: 12px;
    padding: 1px;
    margin: 3px;
}

.peopleid input{
    width: 100px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.div3 h1{
    padding: 0 20px;
    font-size: 20px;
}

.div33{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding:  40px 0px;
}

.div33 i{
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
}

.div33 i:hover{
   
    background: #333;

}

.rel{
    cursor: pointer;
    position: relative;
    right: -75px;
    top: -190px;
    z-index: 1;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.rel .time{
    padding-top: 38px;
    background: transparent;
    font-size: 10px;
}

.rel .por{
    background: transparent;
}

.rel .con{
    background: transparent;
    font-size: 10px;
    color: rgb(81, 199, 42);
}

.title{
    text-align: center;
}

.contproyec{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.proyec{
    padding: 11px 10px;
    margin: 10px;
    width: 70px;
    height: 70px;
    justify-content: center;
    text-align: center;
    background: rgba(105, 106, 105, 0.487);
}

.proyec:hover{
    background: #8a8c8a7c;
}

.proyec p, h2{
    background: none;
    padding: 5px 0px;
    margin: 3px;
}

.proyec p{
    font-size: 12px;
}

.proyec .total{
    border-left: 4px solid #ff9100ee;
}

.proyec .complit{
    border-left: 4px solid #95ff00ee;
}
