.container-perfil{
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    width: 900px;
}
.contimg{
    display: flex;
    justify-content: center;
}

.contimg .img{
    cursor:default;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgba(70, 70, 70, 0.604);
}

.container-perfil p{
    cursor:default;    
    display:inline-flex;
    padding: 0px 6px;
}

.container-perfil #cv, #icono{
    cursor:default;
    padding: 0 2px;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}

.container-perfil #icono:hover{
    cursor: pointer;
    padding-right: 10px;
}

.div-proyect{
    max-width: 880px;
    display: grid;
    padding: 2px;
    margin: 2px;
    width: 880px;
    cursor: pointer;
}

.titleproyec{
    text-align: center;
}

.titleproyec i{
    margin-left: 400px;
}

.conten-proyect{
    text-align: center;
    background: rgb(95, 95, 95);
    width: 210px;
    height: 255px;
    border-radius: 5px;
    margin: 5px;
}

.proyect{
    background: none;
    text-align: center;
}

.proyect img{
    padding: 30px;
    width: 100px;
    margin-top: 0;
    background: transparent;
    color: transparent;
    cursor: default;
}

.proyect h3,p,i{
    background: none;
    justify-content: center;
    text-align: center;
}

.proyect p{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: transparent;
    border-left: #2196f3;
    border-radius: 10px;
    cursor: pointer;
}

.proyect p:hover{
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .09s;
}

.cont-descrip{
    background: transparent;
}

.con-cont{
    display: flex;
    background: none;
    cursor: default;
}

.cont-descrip .tit,.des{
    cursor: default;
    text-align: center;
    font-size: 9px;
    margin: 5px;
}
.cont-descrip .tit{
    width: 650px;
    height: 100%;
    background: none;
    background: #00000070;
}

.cont-descrip, .des{
    padding: 20px 15px;
    width: 650px;
    text-align: center;
}

.container {
    width: 900px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: consolas;
    background: transparent;
  }
  
  .container .card {
    position: relative;
    cursor: pointer;
    background: transparent;
  }
  
  .container .card .face {
    width: 295px;
    height: 200px;
    transition: 0.5s;
    background: transparent;
  }
  
  .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1 {
    background: #333;
    transform: translateY(0px);
  }

  .container .card .face.face2 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2 {
    transform: translateY(0px);
  }

  .container .card .face.face2 .content{
      background-color: transparent;
  }
  
  .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    background: #333;
  }
  
  .container .card .face.face2 .content a {
    margin: 25px 80px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    background: #333;
    color: #fff;
    padding: 5px;
  }
  
  .container .card .face.face2 .content a:hover {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .09s;
  }
  
  .container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
  }
  
  .container .card:hover .face.face1 .content {
    opacity: 1;
  }
  
  .container .card .face.face1 .content img {
    max-width: 110px;
    background: #333;
  }
  
  .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }
  